<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>    
    <body>
        <%- include('./partials/header') %>    
        <div class="bannerHome">
            <img src="/images/img-home-banner.jpg" alt="Banner">
        </div>    
        <main>
            <section class="lastVisit">
                <h3>Basado en tu ultima visita</h3>        
                <div class="products">
                    <article class="card">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex" class="imgArtc">
                        <div class="artHeader">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                            <h4 class="descripcion">Cafetera Moulinex</h4>   
                        </div>
                    </article>
                    <article class="card" >
                        <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" class="imgArtc">
                        <div class="artHeader">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% OFF</p>
                            <h4 class="descripcion">MacBook Pro 2019</h4>
                        </div>
                    </article>
                    <article class="card" >
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" class = "imgArtc">
                        <div class="artHeader">                    
                            <i class="fas fa-truck"></i>
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% OFF</p>
                            <h4 class="descripcion">Samsung Galaxy S10</h4>  
                        </div>
                    </article>
                    <article class="card" >
                        <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" class = "imgArtc">
                        <div class="artHeader">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% OFF</p>
                            <h4 class="descripcion">SmartTv Samsung 43"</h4>    
                        </div>
                    </article>   
                </div>
            </section>
            <section class="offers">
                <h3>Ofertas</h3>       
                <div class="products">
                    <article class="card">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex" class = "imgArtc">
                        <div class="artHeader">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                            <h4 class="descripcion">Cafetera Moulinex</h4>   
                        </div>
                    </article>
                    <article class="card" >
                        <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" class = "imgArtc">
                        <div class="artHeader">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% OFF</p>
                            <h4 class="descripcion">MacBook Pro 2019</h4>    
                        </div>
                    </article>
                    <article class="card">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" class = "imgArtc">
                        <div class="artHeader">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% OFF</p>
                            <h4 class="descripcion">Samsung Galaxy S10</h4>    
                        </div>
                    </article>
                    <article class="card"> 
                        <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" class = "imgArtc">
                        <div class="artHeader">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% OFF</p>
                            <h4 class="descripcion">SmartTv Samsung 43"</h4>
                        </div>
                    </article>
                </div>
            </section>  
        </main>
    <%- include('./partials/footer') %> 
    </body>
</html>