<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <%- include('./partials/header') %>
    <main>
        <section class="log-contain">
            <Form class="login-form" action="#" method="post">
                <article class="form-item">
                <label for="nombreUsuario"></label>
                <input type="text" name="nombreApellido" id="nombreUsuario" placeholder="Nombre de usuario"class="item-text">
                </article>
                <article class="form-item">
                <label for="password"></label>
                <input type="password" name="password" id="password" placeholder= "Ingresá tu contraseña" class="item-text">
                </article>
                <button type="submit" class="boton-login">Enviar</button>
            </Form>
        </section>
    </main>
<%- include('./partials/footer') %> 
</body>
</html>