<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/register.css">
    </head>
    <body>
        <%- include('./partials/header') %>
    <main>
        <Section class="cuadro-register">
            <form action="#" method="post">
            <article class="control-formulario">
                    <label for="nombreApellido"></label>
                        <input type="text" name="nombreApellido" id="nombreApellido" placeholder="Nombre y apellido" class="control">
            </article>
            <article class="control-formulario">
                <label for="nombreUsuario"></label>
                        <input type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Nombre de usuario" class="control">
            </article>
            <article class="control-formulario">
                <label for="email"></label>
                    <input type="email" name="email" id="email" placeholder="E-mail" class="control">    
                </article>
            <article class="control-formulario">
                <label for="birthday">
                    <h4>Fecha de nacimiento</h4>
                </label>
                    <input type="date" name="birthday" id="birthday">
            </article>
            <article class="control-formulario">
                <label for="addressUser"></label>
                    <input type="text" name="addressUser" id="addressUser" placeholder="Direccion" class="control">
            </article>
            <article class="control-formulario">
                <label>
                    <h4>Perfil del usuario</h4>
                <label for="Comprador">Comprador</label>
                    <input type="radio" name="userProfile" value="Comprador">
                <label for="Vendedor">Vendedor</label>    
                    <input type="radio" name="userProfile" value="Vendedor">
                </label>
            </article>
            <article class="control-formulario">
                <label>
                    <h4>intereses</h4>
                    <Section class="listaDeInteres">
                        <label for="Electro">Electro</label>
                            <input type="checkbox" name="Electro" value="Electro">
                        <label for="Moda">Moda</label>    
                            <input type="checkbox" name="Moda" value="Moda">
                        <label for="Hogar">Hogar</label>    
                            <input type="checkbox" name="Hogar" value="Hogar">
                        <label for="Jugueteria">Jugueteria</label>    
                            <input type="checkbox" name="Jugueteria" value="Jugueteria">
                        <label for="Vida sana">Vida sana</label>    
                            <input type="checkbox" name="Vida sana" value="Vida sana">
                    </Section>    
                </label>
            </article>
            <article class="control-formulario">
                <label >Colocar imagen de Perfil</label>
                    <input type="file" name="avatar" id="avatar" placeholder="foto4x4" accept=".jpg, .bmp">
            </article>
            <article class="control-formulario">
                <label for="password"></label>
                    <input type="password" name="password" id="password" class="control" placeholder="Eliga una contraseña">
            </article>
            <article class="control-formulario">
                <label for="password2"></label>
                    <input type="password" name="password2" id="password2" placeholder="Re-ingrese su contraseña" class="control">
            </article>
                <button type="reset" class="boton">Limpiar formulario</button>
                <button type="submit" class="boton">Enviar</button>
            </form>
            </Section>   
    </main>

<%- include('./partials/footer') %>     
</body>
</html>