*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*========imagnes/logos en general==============*/
.logo{
    width: 50%;
}
.bannerHome img {
    width: 100%;
}


/*=======Estructuras=========*/

body{
    font-family: 'Roboto', sans-serif;
    font-size:  12px;
    background-color: #ebebeb;
}
/*=======Header/Nav=========*/
header  {
    background-color: #EAC926;
    padding: 20px;
    width: 100%;


}
.main-header-top-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5%;
    }
.main-nav-bar{
    display: none;
}
.main-nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.main-nav-bar a{
    text-decoration: none;
    color:#222222;
    display: inline-block;
    padding: 8px;
    font-size: 17px;
}
.main-nav-bar-left{
    display: flex;
}
.main-nav-bar-right{
    display: flex;
}
header .searchBar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2px;
    width: 50%;
}
form .buscar{
    margin: auto;
}
.searchBar .input {
    display: block;
    padding: 4px;
    border-color: darkgrey;
}
.main-header-top-bar h2{
    font-weight: 400;
}
div.burger-menu{
    text-align: center;
}
div.burger-menu i{
    color: white;
    background-color: #1259c3;
    padding: 10px;
    border-radius: 20%;
    font-size: 28px;
}
.hand {
    text-align: center;
    margin: 15px;
}

main .bannerHome {
    width: 100vw;
}
/*########--Main cards--#########*/
main{
    width: 100%;
    margin:auto;
}


/*------ Formulario Login--------*/
.log-contain{
    padding: 20px 15px;
}

.form-item{
    display: block;
    margin: auto;
    width: 99%;
    padding-bottom: 15px;
    
}
.control-formulario label{
    margin-bottom: 5px;
    font-style: italic;
    font-weight: 400;
}
.item-text{
    width: 100%;
    padding: 5px 3px;
    
}
.boton-login{
    padding: 5px;
    width: 99%;
    background-color:#1259c3;
    color: #fff;
    border-radius: 3px;
    margin: auto;
}









/*FOOTER*/
.main-footer{
    margin-top: 80px;
    padding: 20px 0;
    background-color: #fff;
}
.main-footer-contain{
    padding-left: 15px;
    padding-right: 15px;
    
}
footer section{
    text-align: center;
    margin-top: 30px;
    width: 100%;
}
footer i{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}




/*MEDIA QUERI*/

/*@media (max-width: 365px){}*/

@media (min-width: 361px){
    /*Estas partes son las que cambie he hiceron las pagina adaptable */
    
    .card {
        /*width: 45%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        Esto no iba por que esto hace flex a todo el conjunto
        */
    } 
    .descripcion {
        display: block;
    }
    section .card{box-shadow: 0px 0px 10px rgb(100,100,100) ;
    
    }
    .products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
    .precio, .descuento{
        width: 50%;
    } 
}
@media (min-width:481px){
    .logo{
        max-width: 500px;
    }
    .card{width: 45%;
    }
    .burger-menu{
        display: none;
        }
    .main-header-top-bar{
            display: flex;
            justify-content: space-evenly;
        }
    
    .main-nav-bar{
            display: flex;
            justify-content: space-between;
        }
}
@media (min-width :769px){
    .card{
        width: 22%;
    }
    /*.descripcion{
        display: flex;    
        }*/
        
    .hand {
        max-width: 350px;
        justify-self: right;
        }
    .burger-menu{
        display: none;
        }
    .main-header-top-bar{
            display: flex;
            justify-content: space-evenly
    }
}