/*
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/

/*.art-Ultima{
    border-top: #ebebeb solid 1px;
    padding: 15px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.art-Ofer{
    border-top: #ebebeb solid 1px;
    padding: 15px;
    background-color: white;
    display: flex;
    flex-direction: row;
    
}

.art-Ultima i{
    
}
.art-Ultima .precio{
    
}
.art-Ultima .descuento{
    
}
.art-Ultima .descripcion{
    
}
.art-Ofer .precio{
    display: flex;
    flex-wrap: wrap;
    /*align-self: center;
    flex-grow: 0.30;
}
.art-Ofer .descuento{
    display: flex;
    flex-wrap: wrap;
    /*align-self: center;
    flex-grow: 0.70;
}
.art-Ofer .descripcion{
    align-self: flex-end;
}*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*========imagnes/logos en general==============*/
.logo{
    width: 50%;
}
.bannerHome img {
    width: 100%;
    margin-top: 251px; 
}


/*=======Estructuras=========*/

body{
    font-family: 'Roboto', sans-serif;
    font-size:  12px;
    background-color: #ebebeb;
}
/*=======Header/Nav=========*/
header  {
    background-color: #EAC926;
    padding: 20px;
    position: fixed;
    top: 0px;
    z-index: 10;
}
.main-header-top-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5%;
    }
.main-nav-bar{
    display: none;
}
.main-nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.main-nav-bar a{
    text-decoration: none;
    color:#222222;
    display: inline-block;
    padding: 8px;
    font-size: 17px;
    text-align: center;
}
.main-nav-bar-left{
    display: flex;
}
.main-nav-bar-right{
    display: flex;
}
header .searchBar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2px;
    width: 50%;
}
form .buscar{
    margin: auto;
}
.searchBar .input {
    display: block;
    padding: 4px;
    border-color: darkgrey;
}
.main-header-top-bar h2{
    font-weight: 400;
}
div.burger-menu{
    text-align: center;
}
div.burger-menu i{
    color: white;
    background-color: #1259c3;
    padding: 10px;
    border-radius: 20%;
    font-size: 28px;
}
.hand {
    text-align: center;
    margin: 15px;
}

main .bannerHome {
    width: 100vw;
}
/*########--Main cards--#########*/
main{
    width: 90%;
    margin:auto;
    
}

main h3{
    font-size: 24px;
    font-weight: 400;
    margin: 20px 0 ;
}
main section .imgArtc{
    width: 100%;
}

.card i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: #39b54a solid 1px;
    color: #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    margin-right: 5px;
    order: -1;
}
.products{
    
}
.card {
    display: block;
    padding: 15px;
    background-color: white;
    font-size: 24px;
    background:  #fff;
    margin: 10px 0;
}
.artHeader {
    width: 100%;
    border-top: #ebebeb solid 1px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;
    padding: 15px;
}
.precio{
    font-size: 18px;
    width: 30%;
}
.descuento{
    font-size: 16px;
    color: #39b54a;
    width: 70%;
    font-weight: normal;
}
.descripcion{
    display: none;
    color: #666;
    font-size: 16px;
    margin-top: 20px;
    font-weight: 300;
    /*align-self: flex-end;*/
}


/*FOOTER*/
.main-footer{
    margin-top: 80px;
    padding: 20px 0;
    background-color: #fff;
}
.main-footer-contain{
    padding-left: 15px;
    padding-right: 15px;
    
}
footer section{
    text-align: center;
    margin-top: 30px;
    width: 100%;
}
footer i{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}




/*MEDIA QUERI*/

/*@media (max-width: 365px){}*/

@media (min-width: 361px){
    /*Estas partes son las que cambie he hiceron las pagina adaptable */
    
        .descripcion {
        display: block;
    }
    section .card{box-shadow: 0px 0px 10px rgb(100,100,100) ;
    
    }
    .products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
    .precio, .descuento{
        width: 50%;
    } 
}
@media (min-width:481px){
    .bannerHome img {
        margin-top: 0;
    }
    header{
        position:unset;
    }
    .logo{
        max-width: 500px;
    }
    .card{width: 45%;
    }
    .burger-menu{
        display: none;
        }
    .main-header-top-bar{
            display: flex;
            justify-content: space-evenly;
        }
    
    .main-nav-bar{
            display: flex;
            justify-content: space-between;
        }
}
@media (min-width :769px){
    .card{
        width: 22%;
    }
    /*.descripcion{
        display: flex;    
        }*/
        
    .hand {
        max-width: 350px;
        justify-self: right;
        }
    .burger-menu{
        display: none;
        }
    .main-header-top-bar{
            display: flex;
            justify-content: space-evenly
    }
}